
//testZone
.testZone {display:flex; height:500px; justify-content:center; flex-direction: column; align-items: center; width:1000px; background:lightblue;}
.testZone button{background:red; margin:20px; color:#fff; font-weight:600; font-size:20px; padding:20px;}
.badgeAdmin{color:#101010 !important; font-size:15px !important;}
.adminTest textarea{height:200px; width:500px;}
.adminTest input{ width:500px;}
//mixin
@mixin flexCenter {display: flex; justify-content: center; align-items: center;}
@mixin flexAlign {display: flex; align-items: center;}
@mixin flexJust {display: flex; signWrap-content: center;}

//global box shadow
.boxShadow{
    box-shadow: 6px 7px 14px -2px rgba(0,0,0,0.64);
    -webkit-box-shadow: 6px 7px 14px -2px rgba(0,0,0,0.64);
    -moz-box-shadow: 6px 7px 14px -2px rgba(0,0,0,0.64);
}

//globalAlarm
.globalPop{z-index:999; position:fixed; top:0; left:0; right:0; bottom:0;width:100vw; height:100vh; background:rgba(0,0,0,0.5);}
.globalPop .globalPop_inner { width:20%; height:20%; background:#fff; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);}
.globalPop .globalPop_inner .globalPop_xBtn {position:absolute; top:20px; right:20px; }

//globalSnackBar
.globalSnackBar{@include flexCenter(); border-radius:10px; padding:20px; background:#6f6f6f; z-index:999; position:fixed; bottom:30px; left:50%; transition:0.5s all; transform:translateY(100px) translateX(-50%);}
.globalSnackBar .globalSnackBar_inner{@include flexAlign()}
.globalSnackBar .globalSnackBar_inner p{color:#fff; margin-right:10px; font-size:16px; font-weight:600}
.globalSnackBar .globalSnackBar_inner img{width:25px; height:25px;}
.globalSnackBar.true{transform:translateY(0) translateX(-50%); opacity:1;}
.globalSnackBar.false{transform:translateY(100px) translateX(-50%); opacity:0}

//global badge 
.btn .badge{top:0;}
button.badge:hover{background:#fff; color:#101010;}
.badge{font-size:8px; color:#fff; padding:5px 6px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15); }
.badge.flagship{background:rgba(28, 191, 242, 1)}
.badge.value_for_money{background:rgba(214, 155, 100, 1)}
.badge.entry_level{background:rgba(165, 187, 195, 1)}
.badge.mid_high_level{background:rgba(241, 167, 8, 1)}
.badge.latest_release{background:rgba(36, 186, 60, 1)}
.badge.masterpiece{background:rgba(202, 98, 154, 1)}
.badge.cost_effectiveness{background:rgba(51, 48, 203, 1)}

// header 
.headerWrap{@include flexAlign(); position: relative; z-index: 2; background:#fff; font-weight: 600; height:80px; width:100%; justify-content: space-between; padding:0 24px;}
.headerWrap .logoWrap{@include flexAlign(); cursor:pointer;}
.headerWrap .logoWrap img:first-of-type{margin-right:12px}
.headerWrap .header{@include flexCenter();}
.headerWrap .header li{margin-right:22px;}
.headerWrap .header li:last-of-type{margin-right:0px;}
.headerWrap .header li a{color:#555454; font-size:18px; text-decoration: none; padding:10px; }
.headerWrap .loginWrap{@include flexAlign()}
.headerWrap .loginWrap .signWrap{@include flexAlign()}
.headerWrap .loginWrap .signWrap .headerIcon{width:30px; height:30px;}
.headerWrap .loginWrap .signWrap button{font-size:18px; font-weight: 600; margin-right:18px;}
.headerWrap .loginWrap .signWrap button:last-of-type{margin-right:0;}


//Sign Up
.signWrapBack {width: 100%; padding: 50px 0px; background-color: #eee; box-sizing: border-box; color: #333;}
.signWrapBack .mainTitle {font-size: 45px; font-weight: 800; margin-top: 45px; text-align: center;}
.signWrapBack .signImgWrap {width: 1200px; display: flex; margin: 0px auto; border-radius: 30px; box-shadow: 10px 10px 10px rgba(0,0,0,0.2), -2px -2px 2px rgba(0,0,0,0.2);}
.signWrapBack .signBox {width:50%; height: 100%; border-radius: 30px 0px 0px 30px; background-color: #fff;}
.signWrapBack .imgBox {width: 50%; height: 100%; border-radius: 0px 30px 30px 0px; background-color: lightcyan;}
.signWrapBack .formWrap{ margin: 0px 20px; padding: 15px 20px 0px 20px; position: relative;}
.signWrapBack .formWrap:nth-of-type(1) {margin: 15px 20px 0px 20px;}
.signWrapBack .mainInputTex {font-weight: 800;}
.signWrapBack .fillInput {width: 100%; padding: 15px; border-radius: 5px; border: 1px solid #7EB693; margin-top: 10px;}
.signWrapBack .overlap {position: absolute; right: 30px; top: 51px; display: flex; height: 26px; align-items: center;}
.signWrapBack .overlapCheck {background-color: #454545; color: #fff; padding: 5px 10px; border-radius: 5px;}
.signWrapBack .possible {display: flex; align-items: center; margin-top: 5px; font-size: 14px;}
.signWrapBack .resMessage {color: red;}
.signWrapBack .assistanceTex {font-size: 12px; color: #A4A4A4; margin: 3px 0px 0px 10px;}
.signWrapBack .flexBox {padding: 30px 40px; display: flex; justify-content: space-between;}
.signWrapBack .informationWrap {width: 38%; font-weight: 800;}
.signWrapBack .informationWrap select {width: 100%; padding: 15px; text-align: center; border: 1px solid #7EB693; border-radius: 5px; margin: 10px 0px; appearance: red;}
.signWrapBack .available {color: #279F55; font-size: 14px;}
.signWrapBack .submitWrap {width: 58%; margin-top: 20px; }
.signWrapBack .submitWrap label {display: flex; align-items: flex-start; margin-bottom: 10px; cursor: pointer; font-weight: 800; font-size: 15px;}
.signWrapBack .submitWrap label span {width: 98%;}
.signWrapBack .view {margin-left: 24px; display: flex; align-items: center; cursor: pointer; font-size: 14px; font-weight: 800; }
.signWrapBack .view::after {content: ''; margin-left: 5px; width: 16px; display: block; height: 16px; background: url(../assets/images/arrow.png) #279F55 center center no-repeat;}
.signWrapBack .submitWrap input[type="checkbox"] { -webkit-appearance: none; margin-right: 10px; position: relative; width: 16px; height: 16px; cursor: pointer; outline: none !important; border: 1px solid #bbb; border-radius: 2px; background: #fbfbfb; }
.signWrapBack .submitWrap input[type="checkbox"]::before { content: ""; display: none; position: absolute; border-radius: 2px; width: 16px; height: 16px; background: url(../assets/images/check.png) #279F55 center center no-repeat; border-color: rgba(255, 255, 255, 0.3); top: 0px; left: 0px;}
.signWrapBack .submitWrap input[type="checkbox"]:hover {border-color: rgba(170, 170, 170, 0.5);}
.signWrapBack .submitWrap input[type="checkbox"]:checked::before { display: inline-block;}
.signWrapBack .joinBtn {width: 200px; padding: 12px; display: flex; justify-content: center; align-items: center; background-color: #279F55; margin: 20px 0px 0px auto; color: #fff; font-size: 18px; border-radius: 10px; }
.signWrapBack .deactivationBtn {width: 200px; padding: 15px; display: flex; justify-content: center; align-items: center; background-color: #bbb; margin: 10px 0px 0px auto; color: #fff; font-size: 18px; border-radius: 10px; }
.signWrapBack .imgBox {width: 50%; height: auto; background: linear-gradient(to bottom right, #FFBCBC, #ACCDFF); display: flex; flex-direction: column; justify-content: space-between; padding: 20px;}
.signWrapBack .signImg {margin-top: 30px;} 
.signWrapBack .signList {padding-left: 17px; list-style: disc;}
.signWrapBack .signList li {margin-bottom: 5px;} 
.signWrapBack .possibleIcon, .unpossibleIcon {display: flex; align-items: center;}
.signWrapBack .possibleIcon span {width: 16px; height: 16px; display: inline-block; background: url(../assets/images/possible.png); background-size: contain;}
.signWrapBack .unpossibleIcon span {width: 16px; height: 16px; display: inline-block; background: url(../assets/images/unpossible.png); background-size: contain;}


//Sign In
.signInWrapBack {width: 100%; padding: 50px 0px; background-color: #eee; box-sizing: border-box; color: #333;}
.signInWrapBack .signImgWrap {width: 1200px; display: flex; margin: 0px auto; border-radius: 30px; box-shadow: 10px 10px 10px rgba(0,0,0,0.2), -2px -2px 2px rgba(0,0,0,0.2);}
.signInWrapBack .signBox {width:50%; height: 100%; border-radius: 30px 0px 0px 30px; background-color: #fff;}
.signInWrapBack .mainTitle {font-size: 50px; font-weight: 800; margin-top: 60px; text-align: center;}
.signInWrapBack .formWrap { margin: 0px 20px; padding: 15px 20px 0px 20px; position: relative;}
.signInWrapBack .formWrap:nth-of-type(1) {margin: 20px 20px 0px 20px;}
.signInWrapBack .idPs { margin-bottom: 10px; font-weight: 800; position: relative;}
.signInWrapBack .assistanceTex {text-align: end; display: block; font-size: 12px; color: #4B52EB; margin: 8px 0px 0px 10px; text-decoration: underline; text-underline-offset: 4px;}
.signInWrapBack .fillInput {width: 100%; padding: 15px; border-radius: 5px; border: 1px solid #7EB693; margin-top: 10px;}
.signInWrapBack .logIn {width: 100%; padding: 15px; border-radius: 5px; background-color: #5B62FF; color: #fff; box-shadow: 1px 4px 5px rgba(0,0,0,0.2); }
.signInWrapBack .formWrap.login {margin-top: 30px;}
.signInWrapBack .orLine {padding: 0px 40px;}
.signInWrapBack .line {margin: 15px 0px; background-color: #eee; color: #eee; height: 2px; width: 100%; position: relative; }
.signInWrapBack .line::before {content: 'or'; color: #555; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 30px; height: 20px; text-align: center; background-color: #fff;}
.signInWrapBack .SubWrap { padding: 0px 40px; display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; }
.signInWrapBack .loginBtn {width: 48%; padding: 15px 0px; margin-bottom: 15px; border-radius: 5px; box-shadow: 1px 4px 5px rgba(0,0,0,0.2);}
.signInWrapBack .loginBtn.git {background-color: #333230; color: #fff;}
.signInWrapBack .loginBtn.kakao {background-color: #FEE500; color: #3C1E1E;}
.signInWrapBack .loginBtn.google { background-color: #fff; color: #7A736C; margin-bottom: 0px;}
.signInWrapBack .loginBtn.naver {background-color: #03C75A; color: #fff; margin-bottom: 0px;}
.signInWrapBack .join {width: 100%; padding: 15px; border-radius: 5px; background-color: #279F55; color: #fff; box-shadow: 1px 4px 5px rgba(0,0,0,0.2);}
.signInWrapBack .SubWrap.joinWrap { padding: 0px 40px; width: 100%; margin-bottom: 60px;}
.signInWrapBack .imgBox {width: 50%; height: auto; overflow: hidden; border-radius: 0px 30px 30px 0px; background: url(../assets/images/image14.png) no-repeat right; background-size: cover;}
// .signInWrapBack .imgBox img {width: 105%; height: 100%;}


//main_visual
.visualWrap{position:relative; background:url('../assets/images/main_background.png'); background-size:cover; }
.visualWrap .ratioBarWrap{@include flexCenter()}
.visualWrap .ratioBarWrap .appBar{height:20px; background:#ff6868}
.visualWrap .ratioBarWrap .samBar{height:20px; background: #5093f9}
.visualWrap .visual{position:relative; height:844px;}
.visualWrap .visual img{width:100%; padding:40px; padding-top:70px; height:100%; object-fit: contain; z-index:1; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
.visualWrap .visual .floatingBtnWrap{@include flexCenter(); z-index:3; position:absolute; left:50%; transform:translateX(-50%); top:25px;}
.visualWrap .visual .floatingBtnWrap a{font-size:20px; font-weight:600; display:block; border-radius:5px; margin-right:25px; background:#2B2929; padding:15px 20px; color:#fff; }
.visualWrap .visual .floatingBtnWrap a:last-of-type{margin-right:0;}
.phoneWrap{position: absolute; top:40px; z-index: 2; height: 90%}
.phoneWrap.typeA{left:40px}
.phoneWrap.typeB{right:40px}
.phoneWrap img.background{height:100% ; object-fit: contain;}
.phoneWrap .chatsWrap{display:flex; flex-direction: column; padding:60px 50px 85px; padding-left:40px; width: 100%; height: 100%; position: absolute; top:0; left:0; bottom:0; right:0; }
.phoneWrap .chatsWrap .tabMenu button{width:100px; height:40px;color:#000; background:transparent}
.phoneWrap .chatsWrap .tabMenu button.active{font-weight:700; color:#7D31DD; border-bottom:2px solid #7D31DD}
.phoneWrap .chatsWrap .chatsList{margin-top:5px; overflow-y: scroll; flex:1; position: relative;}
.phoneWrap .chatsWrap .chatsList li.chat{ position:relative; display:flex; margin:35px 0px}
.phoneWrap .chatsWrap .chatsList li.chat .chatDate{position:absolute; top:-16px; right:16px; font-size:9px; text-align: right;}
.phoneWrap .chatsWrap .chatsList li.chat .chat_left{height:117px; background:#fff; border-radius:10px; padding:16px;}
.phoneWrap .chatsWrap .chatsList li.chat .chat_right{margin-right:10px;}
.phoneWrap .chatsWrap .chatsList li.chat .chat_left .profileWrap{@include flexAlign(); margin-bottom:14px;}
.phoneWrap .chatsWrap .chatsList li.chat .chat_left .profileWrap .profileImg{width:25px; height:25px; border-radius:50%;}
.phoneWrap .chatsWrap .chatsList li.chat .chat_left .profileWrap .profileID{font-size:14px; font-weight:600; padding:0 10px;}
.phoneWrap .chatsWrap .chatsList li.chat .chat_left .profileWrap .profileAors{@include flexCenter(); color:#fff; height:20px; padding:4px 8px; font-weight:600; font-size:12px; border-radius: 8px;}
.phoneWrap .chatsWrap .chatsList li.chat .chat_left .profileWrap .profileAors.Apple{background:#F16486}
.phoneWrap .chatsWrap .chatsList li.chat .chat_left .profileWrap .profileAors.Samsung{background:#1F78FF}
.phoneWrap .chatsWrap .chatsList li.chat .chat_left .profileWrap .profileAors.None{background:#555454}
.phoneWrap .chatsWrap .chatsList li.chat .chat_left .txtWrap p{font-size:14px;}
.phoneWrap .chatsWrap .chatsList li.chat .chat_right button{@include flexCenter(); margin:0 6px; margin-bottom:6px; background:#fff; border-radius:10px; width:35px; height:35px;}
.phoneWrap .chatsWrap .chatsList li.chat .chat_right button:last-of-type{margin-bottom:0;}
.phoneWrap .chatsWrap .chatInputForm{@include flexAlign(); height: 120px;}
.phoneWrap .chatsWrap .chatInputForm .inputWrap{@include flexCenter(); position:relative; height:100%; width:100%; padding:15px 0 0; padding-right:16px;}
.phoneWrap .chatsWrap .chatInputForm .inputWrap textarea{padding:15px; padding-top:36px; height:100%; flex:1; width:100%; margin-right:20px; border-radius:10px; border:none;}
.phoneWrap .chatsWrap .chatInputForm .inputWrap .submitBtn{background:#fff; height:100%; width:75px; border-radius:10px;}
.phoneWrap .chatsWrap .chatInputForm .inputWrap .profileWrap{@include flexAlign(); position: absolute; left:6px; top:20px;}
.phoneWrap .chatsWrap .chatInputForm .inputWrap .profileWrap .profileImg{width:25px; height:25px; border-radius:50%;}
.phoneWrap .chatsWrap .chatInputForm .inputWrap .profileWrap .profileID{font-size:14px; padding:0 10px; font-weight:600;}
.phoneWrap .chatsWrap .chatInputForm .inputWrap .limit{position:absolute; bottom:8px; left:15px; font-size:10px; color:#5f5f5f;}



//compareAll
.nowSelected{width:100%; height:40px; position:relative;}
.nowSelected .buttonWrap{width:100%; height:40px; background:#1c1c1c;@include flexCenter(); height:100%; position:relative; z-index: 2;}
.nowSelected .buttonWrap p{ color:#fff; font-size:18px; margin-right:10px;}
.nowSelected .buttonWrap .downButton{@include flexCenter(); background:transparent; transition:0.5s all;}
.nowSelected .buttonWrap .downButton.upsideDown{transform:rotate(180deg)}
.nowSelected .buttonWrap .downButton img{width:22px; height:22px;}
.nowSelected .inner{@include flexAlign(); max-height:400px; z-index: 1; transition:0.5s all; transform:translateY(-400px); background:#fff; position:absolute; width:100%; padding-top:10px; padding-bottom:40px; justify-content: space-around; border-bottom:1px solid #e4e4e4;}
.nowSelected .inner.active{transform:none;}
.nowSelected .inner .inner_logoWrap{@include flexAlign(); flex-direction: column; margin:0 20px;}
.nowSelected .inner .inner_logoWrap .logoSizer{@include flexCenter(); width:100px; height:100px; margin-bottom:30px;}
.nowSelected .inner .inner_logoWrap img.logo{width:100%;}
.nowSelected .inner .inner_logoWrap .priceWrap{text-align: center;}
.nowSelected .inner .inner_logoWrap .priceWrap p{margin-bottom:15px; font-size:20px; }
.nowSelected .inner .tableWrap{border-spacing:8px;border-collapse: separate; width:70%}
.nowSelected .inner .tableWrap .tHead{font-size:20px; text-align: center;}
.nowSelected .inner .tableWrap td{text-align: center;}
.nowSelected .inner .tableWrap .dropdown_product{@include flexCenter(); background:#fff; color:#101010; width:100%; border:1px solid #e4e4e7; border-radius:5px;}
.nowSelected .inner .tableWrap .dropdown_product p{margin-right:10px;}
.nowSelected .inner .tableWrap .dropdown-menu.show{width:100%;}
.nowSelected .inner .tableWrap .dropdown-toggle::after{margin-left:10px;}
.nowSelected .inner .closeBtn{padding:0; width:100%; position:absolute;bottom:0; background:transparent; left:50%; transform:translateX(-50%)}
.nowSelected .inner .closeBtn.upsideDown{transform:translateX(-50%) rotate(180deg)}

.compareAllWrap{position: relative; @include flexAlign(); margin-bottom:60px;}
.compareAllWrap .fast{position: relative;flex-grow:1; @include flexCenter(); flex-direction: column;}
.compareAllWrap .fast .logoSizer{@include flexCenter(); position: relative; width:237px; margin-bottom:20px; height:130px;}
.compareAllWrap .fast .badgeWrap .badge{margin-right:5px}
.compareAllWrap .fast .badgeWrap .badge:last-of-type{margin-right:0px}
.compareAllWrap .disclaimer{padding-left:20px;width:320px; font-size:12px; color:#555454; line-height: 1.2;}
.compareAllTable .type{@include flexAlign(); margin-bottom:60px;}
.compareAllTable .type h3{font-size:50px; width:320px; @include flexCenter();}
.compareAllTable .type .productWrap{flex:1; @include flexCenter(); flex-direction: column;}
.compareAllTable .type .productWrap img{margin-bottom:15px;}
.compareAllTable .type .productWrap .badgeWrap{margin-bottom:15px}
.compareAllTable .type .productWrap .badgeWrap .badge{margin-right:5px;}
.compareAllTable .type .productWrap .badgeWrap .badge:last-of-type{margin-right:0px;}
.compareAllTable .type .productWrap .dropdown_product{@include flexAlign()}
.compareAllTable .type .productWrap .dropdown_product p{margin-right:10px;}
.compareAllTable .type .productWrap .dropdown-menu.show{width:100%;}
.compareAllTable .tableSet .table_header{@include flexAlign(); margin-bottom:40px;}
.compareAllTable .tableSet .table_header .info{padding-left:100px;}
.compareAllTable .tableSet .table_header .eval{padding-right:100px;}
.compareAllTable .tableSet .table_header div{width:320px;}
.compareAllTable .tableSet .table_header .grow{flex:1; @include flexCenter();}
.compareAllTable .tableSet .table_body{@include flexAlign(); margin-bottom:40px;}
.compareAllTable .tableSet .table_body div{@include flexCenter()}
.compareAllTable .tableSet .table_body .grow{flex:1;}
.compareAllTable .tableSet .table_body .head{width:320px;}
.compareAllTable .tableSet .table_body .app_val{padding-left:100px;}
.compareAllTable .tableSet .table_body .sam_val{padding-left:100px;}
.compareAllTable .tableSet .table_body .app_edit{padding-right:100px;}
.compareAllTable .tableSet .table_body .sam_edit{padding-right:100px;}

/*무한 스크롤 css*/
.obs{text-align: center;}
.typeA .obs{color: #FFBCBC;}
.typeB .obs{color: #ACCDFF;}
.typeA .no-data, .typeB .no-data{color: #000; font-size: 14px; position: relative; top: -10px;}
.spinner{
    width: 30px;
    height: 30px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    bottom: 207px;
    left: 43%;
    z-index: 2;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 


    .edit-modal {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center; z-index: 1000;}
    .edit-modal form {background: #fff; padding: 20px; border-radius: 5px; width: 400px; max-width: 100%;}
    .edit-modal textarea {width: 100%; height: 100px; border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 10px;}
    .edit-modal-buttons {display: flex; justify-content: flex-end;}
    .edit-modal-buttons button {margin-left: 10px;}
    
