@mixin flexCenter {display: flex; justify-content: center; align-items: center;}
@mixin flexAlign {display: flex; align-items: center;}
@mixin flexJust {display: flex; justify-content: center;}

//globalAlarm
.globalPop{position:fixed; top:0; left:0; right:0; bottom:0;width:100vw; height:100vh; background:rgba(0,0,0,0.5);}
.globalPop_inner { width:20%; height:20%; background:#fff; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);}

// header 
.headerWrap{@include flexAlign(); font-weight: 600; height:80px; width:100%; justify-content: space-between; padding:0 24px;}
.headerWrap .logoWrap{@include flexAlign(); cursor:pointer;}
.headerWrap .logoWrap img:first-of-type{margin-right:12px}
.headerWrap .header{@include flexCenter();}
.headerWrap .header li{margin-right:22px;}
.headerWrap .header li:last-of-type{margin-right:0px;}
.headerWrap .header li a{color:#555454; font-size:18px; text-decoration: none; padding:10px; }
.headerWrap .loginWrap{@include flexAlign()}
.headerWrap .loginWrap .signWrap{@include flexAlign()}
.headerWrap .loginWrap .signWrap .headerIcon{width:30px; height:30px;}
.headerWrap .loginWrap .signWrap button{font-size:18px; font-weight: 600; margin-right:18px;}
.headerWrap .loginWrap .signWrap button:last-of-type{margin-right:0;}

.signWrap .formWrap{ margin: 20px; padding: 20px;}